---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import NoImageContent from '~/components/widgets/NoImageContent.astro';

const metadata = {
  title: "My own common sense — Xavi Ametller's personal web page",
  dontUseTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- <Hero
    image={{ src: import('~/assets/images/my-library-of-tech-books.jpeg'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      My own common sense</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Ideas, opinions, thoughts and other rants about Software development.</span
      >
    </Fragment>
  </Hero> -->

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

   <!-- Content Widget **************** -->
   <Content   
   title="Hi, I'm Xavi Ametller"   
   image={{
     src: import('~/assets/images/caos.jpg'),
     alt: 'Colorful Image',      
   }}
 >
   <Fragment slot="content">
     <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h3>
     I've been developing Software since 2003 and during those years I've done my fair share of mistakes, I even learnt something from some of them. Somehow during this trip it came to me the opportunity to teach and I did like it, a lot.
    <p></p><p></p><p></p>
    
     Other persons and companies also seem to appreciate my collaboration as consultant (still wonder why, but who am I to discuss with them - the only thing I can say is 'It depends').
   </Fragment>
 </Content>

 <!-- Content Widget **************** -->
 <Content   
 isReversed="true" 
 items={[
   {
     title: 'Knowledge',
     description:
       'Reading books is my main source of information. I also use Twitter, read blogs and other kind of sources, but my love for order and structure seems to lean towards learning from formal books. That pic here is the biggest part of my library, of course I have not read all those books from beggining to end, but a good chunk of them I do. Also, I have an O\'Reilly subscription which I use very much. If you are a "book person" I recommend you to take a look.',
   },
   {
     title: 'Experience',
     description:
       'I\'ve done a little bit of everything and not much of anything: development of win applications, webs (B2C, SPA), testing (webs, mobile app, win aplications), leading teams and nowadays even I\'m trying with innovation.',
   },
   {
     title: 'Common sense',
     description:
       'Fine, that looks like a weak offer, everyone has common sense (it\'s common, isn\'t it?). I\'m just pointing it out because when I ask about my strong points this one seems to come up very often.',
   },
 ]}
 image={{
   src: import('~/assets/images/my-library-of-tech-books.jpeg'),
   alt: 'Colorful Image',      
 }}
>
 <Fragment slot="content">
   <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">What can I offer you?</h3>
   My knowledge, experience and comon sense. Let me explain a little bit more:
 </Fragment>
</Content>

<NoImageContent
  >

  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Why a personal website?</h3>
    Because I want to (that should be reason enough 😋). Also, because the people from Stackbit, Netlify and Gatsby made it really easy for me to create one (thanks!) and because I sell services (trainings, consultancy) and well... it kinda helps.
    <p></p>
    Although I don't consider me a super expert in the things I teach, I try to be good at teaching them. I only dare to teach stuff I had some practical real live experience with (there are some rare exceptions, usually with disclaimers and because I'd like to share if I think there's something that could be better or insightful)
    <p></p>
    On top of all those reasons, there are some things I'd like to experiment with, like writing some of my personal stories, ideas, learnings or just sketches so I can look them up after a while (and even help somebody else who finds those useful).
  </Fragment>  
</NoImageContent>

  
  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Contact me',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:mail',
    }}
  >    
  </CallToAction>
</Layout>
